.DS_Store
paper.bbl
paper.blg
paper.log
paper.out
paper.pdf
*.aux
paper.run.xml
paper.toc
paper.lof
paper.lot
*-crop.pdf
figures/pdf
figures/figures-crop.pdf
figures/bld
figures/~$figures.pptx
sonic/figures/pdf
sonic/figures/tmp.hex
sonic/figures/~$figures.pptx
~$results.xlsx
